.grid-item {
    margin: 10px;
    border-radius: 10px;
    padding: 6px;
    transition: transform .1s;
    display: inline-block;
}


/*Color Changer*/

/*Color1*/
.color1{
    background-color: #ff608f;
}
.color1:hover {
    background-color: #e81e62;
}
.color1:hover .color1{
    background-color: #e81e62;
}

/*Color2*/
.color2{
    background-color: #63a4ff;
}
.color2:hover{
    background-color: #1976d2;
}
.color2:hover .color2{
    background-color: #1976d2;
}

.info {
    position: absolute;
    left: 0;
    padding: 10px;
    display: none;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.img-fluid {
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-item:hover {
    border-radius: 10px 10px 0 0;
    transform: scale(1.05);
    z-index: 10;
}

.grid-item:hover .info {
    display: block;
}


.container {
    margin-top: 10px;
}

#platzhalter {
    margin-bottom: 400px;
}